$font__family__btn: Arial, Helvetica, sans-serif;

$btn__colors:(
    success: #198754,
    danger: #dc3545,
    warning: #ffca2c,
    info: #0dcaf0,
);

$btn__size:(
    small: 5px,
    medium: 8px,
    large: 10px,
);

$btn__round:(
    small: 5px,
    medium: 8px,
    large: 10px,
    xlarge: 12px,
);