/*COLORES*/
$color-primary: red;
$color-secondary: red;

/*FUENTES*/
$font-family-global: "Arial";
$font-family-titles: "Verdana";
$font-family-alternative: "Roboto";

/*TIPOGRAFIA*/
$h1:24px; 
$h2:18px; 
/*HEADER*/
$header-padding: 20px;