@import "../../assets/style/variables";

.header{
    margin: 0;
    height: 100px;
    padding: 0 10%;
    background: map-get($colors-branding, 'primary');
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1{
        font-weight: 800;
    }

    &__logo{
        text-decoration: none;
        color: black;
    }
}