/********** Kills*/
.kills {
  background-color: #9122ff;
  padding: 40px;
  color: #fff;

  h2 {
    color: #26cc4b;
  }
}
.kills-content {
  text-align: center;
  margin: 20px 0;

  article {
    width: 45%;
    height: 80px;
    /* border: 1px solid #000; */
    display: inline-block;
    text-align: left;
    &:nth-child(odd) {
      margin-right: 20px;
    }
  }

  h3 {
    font-weight: 300;
    font-size: 16px;
  }
}
.fondo-barra-kill,
.fondo-barra-kill div {
  margin-top: 15px;
  height: 20px;
  background-color: aliceblue;
  border-radius: 10px;
}
.fondo-barra-kill div {
  width: 40%;
  background-color: #57eff9;
}
