/********** Kills*/
.portafolio {
    background-color: #ffd233;
    padding: 40px;
    color: #00ad84;
  
    section {
      text-align: center;
      margin: 20px 0;
    }
  
    figure {
      width: 20%;
      margin: 15px 10px;
      /* border: 1px solid #000; */
      display: inline-block;
      text-align: center;
    }
  }