@import "./global";
@import "./banner";
@import "./clientes";
@import "./contacto";
@import "./kills";
@import "./portafolio";
@import "./sobremi";
/*  STICKY FOOTER    */

/* HEADER    */

/*CONTENEDOR MAIN*/
.main {
  max-width: 900px;
  width: 900px;
  height: 100vh;
  margin: auto;
}

