/*
    GLOBALES
*/
body {
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}
h1 {
  font-size: 48px;
  font-weight: bold;
}
h2 {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
}
p {
  margin: 20px 0;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}
a {
  color: inherit;
  text-decoration: none;
}
/*  STICKY FOOTER    */

/* HEADER    */

/*CONTENEDOR MAIN*/
.main {
  max-width: 900px;
  width: 900px;
  height: 100vh;
  margin: auto;
}
.banner {
  height: 1px;
  position: relative;
}
.banner img {
  width: 100%;
}
.banner .hijo {
  position: absolute;
  color: rgb(255, 255, 255);
}
.banner .hijo:nth-child(1) {
  top: 60px;
  left: 40%;
  z-index: 1;
}
.banner .hijo:nth-child(3) {
  top: 300px;
  left: 7%;
  padding: 20px;
  width: 300px;
  text-align: left;
  border-radius: 10px;
  background-color: rgba(114, 153, 254, 0.5);
}
/********** sobre mi*/
.sobremi {
  margin-top: 54%;
  background-color: #7299fe;
  padding: 40px;
  color: #fff;
}
.sobremi h2 {
  color: #1d06a7;
}
.sobremi button,
.sobremi a {
  margin-right: 15px;
  padding: 15px 50px;
  background-color: #d16fff;
  border: 0px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.sobremi button:hover,
.sobremi a:hover {
  /* border: 1px solid rgba(0, 0, 0, 0.25); */
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
  background-color: #1d06a7;
}
/********** Kills*/
.kills {
  background-color: #9122ff;
  padding: 40px;
  color: #fff;
}
.kills h2 {
  color: #26cc4b;
}
.kills-content {
  text-align: center;
  margin: 20px 0;
}
.kills-content article {
  width: 45%;
  height: 80px;
  /* border: 1px solid #000; */
  display: inline-block;
  text-align: left;
}
.kills-content article:nth-child(odd) {
  margin-right: 20px;
}
.kills-content h3 {
  font-weight: 300;
  font-size: 16px;
}
.fondo-barra-kill,
.fondo-barra-kill div {
  margin-top: 15px;
  height: 20px;
  background-color: aliceblue;
  border-radius: 10px;
}
.fondo-barra-kill div {
  width: 40%;
  background-color: #57eff9;
}
/********** Kills*/
.portafolio {
  background-color: #ffd233;
  padding: 40px;
  color: #00ad84;
}
.portafolio section {
  text-align: center;
  margin: 20px 0;
}
.portafolio figure {
  width: 20%;
  margin: 15px 10px;
  /* border: 1px solid #000; */
  display: inline-block;
  text-align: center;
}
/********** Clientes*/
.clientes {
  padding: 40px;
  background-color: #3f4e62;
  color: #adff28;
  text-align: center;
}
.clientes section {
  margin: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clientes figure {
  margin: 0 10px;
}
/********** Clientes*/
.contacto {
  padding: 40px;
  background-color: #1687a0;
  color: #ff1b1b;
}
.contacto form {
  width: 100%;
  margin: 20px 0;
  text-align: center;
}
.contacto input,
.contacto textarea {
  margin-bottom: 20px;
  display: inline-block;
}
.contacto input {
  width: 43%;
  padding: 20px;
}
.contacto input:nth-child(odd) {
  margin-right: 20px;
}
.contacto textarea:focus,
.contacto input:focus {
  outline: none;
  box-shadow: 0 0 5px #9122ff;
  border: 1px solid #9122ff;
}
.contacto textarea {
  width: 100%;
  height: 214px;
  box-sizing: border-box;
  resize: none;
  padding: 25px;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}
.contacto button {
  width: 20%;
  padding: 15px;
  background-color: #233451;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: 0px;
}
.contacto button:hover {
  background-color: #fff;
  color: #233451;
  border: 1px solid #233451;
}
/*FOOTER*/
